<div class="page-nav">
    <ul class="am-xpagination">
        {% if allScenery.has_previous %}
            <li class="am-pagination-prev"><a href="/u/scmanage?page={{ allScenery.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for page_number in allScenery.paginator.page_range %}
            {% ifequal page_number  allScenery.number %}
              <li class="am-active"><a href="/u/scmanage?page={{ page_number }}">{{ page_number }}</a></li>
            {% else %}
                <li><a href="/u/scmanage?page={{ page_number }}">{{ page_number }}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if allScenery.has_next %}
        <li class="am-pagination-next "><a href="/u/scmanage?page={{ allScenery.next_page_number }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>