{% for scenery in allScenery %}
    <div class="box scenery-list">
        <img src="http://lorempixel.com/600/600/nature/5" alt="" class="am-u-md-4 am-img-responsive">
        <div class="intro am-u-md-8">
            <h2>{{ scenery.name }}</h2>
            <p><b>地点：</b>地球村中国市</p>
            <h3>相关攻略：</h3>
            <ul>
                <li>
                    <a href="">山上的那一夜令我很难忘</a>
                    <data class="right">【10-16】</data>
                </li>
                <li>
                    <a href="">山上的那一夜令我很难忘</a>
                    <data class="right">【10-16】</data>
                </li>
                <li>
                    <a href="">山上的那一夜令我很难忘</a>
                    <data class="right">【10-16】</data>
                </li>
                <li>
                    <a href="">山上的那一夜令我很难忘</a>
                    <data class="right">【10-16】</data>
                </li>
            </ul>
        </div>
    </div>
{% endfor %}