<div class="page-nav">
    <ul class="am-xpagination">

        {% if allStrategy.has_previous %}
            <li class="am-pagination-prev"><a href="/u/jomanage?page={{ allStrategy.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for page_number in allStrategy.paginator.page_range %}
            {% ifequal page_number  allStrategy.number %}
              <li class="am-active"><a href="/u/jomanage?page={{ page_number }}">{{ page_number }}</a></li>
            {% else %}
                <li><a href="/u/jomanage?page={{ page_number }}">{{ page_number }}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if allStrategy.has_next %}
        <li class="am-pagination-next "><a href="/u/jomanage?page={{ allStrategy.next_page_number }}">&raquo;</a></li>
        {% endif %}

    </ul>
</div>