<div class="box-head">
    留言
</div>
<div class="box-content">
    <article class="am-comment discuss">
        <a href="">
            <img class="am-comment-avatar" alt="" src="https://avatars3.githubusercontent.com/u/7554325?v=3&s=46" />
        </a>
        <div class="am-comment-main">
            <header class="am-comment-hd">
                <div class="am-comment-meta">
                    <a href="#link-to-user" class="am-comment-author">rccoder</a> 评论于
                    <time datetime="">2015-11-01</time>
                </div>
            </header>
            <div class="am-comment-bd">咱是多少人去？能否详细说一下？</div>
        </div>
        <a href="">
            <img class="am-comment-avatar" alt="" src="https://avatars3.githubusercontent.com/u/7554325?v=3&s=46" />
        </a>
        <div class="am-comment-main">
            <header class="am-comment-hd">
                <div class="am-comment-meta">
                    <a href="#link-to-user" class="am-comment-author">rccoder</a> 评论于
                    <time datetime="">2015-11-01</time>
                </div>
            </header>
            <div class="am-comment-bd">咱是多少人去？能否详细说一下？</div>
        </div>
        <a href="">
            <img class="am-comment-avatar" alt="" src="https://avatars3.githubusercontent.com/u/7554325?v=3&s=46" />
        </a>
        <div class="am-comment-main">
            <header class="am-comment-hd">
                <div class="am-comment-meta">
                    <a href="#link-to-user" class="am-comment-author">rccoder</a> 评论于
                    <time datetime="">2015-11-01</time>
                </div>
            </header>
            <div class="am-comment-bd">咱是多少人去？能否详细说一下？</div>
        </div>
    </article>
</div>
