<div class="am-u-md-9">
    <div class="box profile">
        <div class="box-head">参加过的活动</div>
        <div class="box-content">
            <table class="am-table am-table-bordered am-table-radius am-table-striped">
                <thead>
                    <tr>
                        <th>活动ID</th>
                        <th>活动名称</th>
                    </tr>
                </thead>
                <tbody>
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity.id }}</td>
                        <td><a href="/activity/{{ activity.id }}">{{ activity.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>