{% extends "base.html" %} {% load staticfiles %} {% block title %}攻略{% endblock %} {% block style %}
<link rel="stylesheet" href="{% static "css/amazeui.swiper.min.css " %}">
<link rel="stylesheet" href="{% static "css/amazeui.datetimepicker.min.css " %}"> {% endblock %} {% block content %}
{% include "./profile/siderbar.html" %}
<div class="am-u-md-9">
    <div class="box profile">
        <div class="box-head">基本信息</div>
        <div class="box-content show">
            <div class="am-u-md-offset-3 am-u-md-3">
                <b>用户名</b>
            </div>
            <div class="am-u-md-6">
                <span>rccoder</span>
            </div>
            <div class="am-u-md-offset-3 am-u-md-3">
                <b>头&nbsp;&nbsp;&nbsp;像</b>
            </div>
            <div class="am-u-md-6">
                <img src="http://cn.gravatar.com/avatar/acfa2cdf104842f476e8c453f2302b07?s=40&d=mm" alt="">
            </div>
            <div class="am-u-md-offset-3 am-u-md-3">
                <b>爱&nbsp;&nbsp;&nbsp;好</b>
            </div>
            <div class="am-u-md-6">
                <span>rccoder</span>
            </div>
            <div class="am-u-md-offset-3 am-u-md-3">
                <b>发起活动次数</b>
            </div>
            <div class="am-u-md-6">
                <span>100</span>
            </div>
            <div class="am-u-md-offset-3 am-u-md-3">
                <b>去过景点个数</b>
            </div>
            <div class="am-u-md-6">
                <span>400</span>
            </div>
            <div class="am-u-md-offset-3 am-u-md-3">
                <b>发表攻略个数</b>
            </div>
            <div class="am-u-md-6">
                <span>100</span>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{% static "js/amazeui.datetimepicker.min.js " %}"></script>
<script src="{% static "js/amazeui.swiper.min.js " %}"></script>
{% endblock %}
