<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" id="reset-form" onsubmit="return false">
    {% csrf_token %}
    <input type="password" id="password" name="password" placeholder="pw" required>
    <button formmethod="post" type="submit" id="reset-password">reset</button>
</form>

{% block script %}
<script>
    $(function () {
        $("#reset-password").click(function() {
            $.ajax({
                type: "POST",
                url: "/u/post/",
                data: $("#reset-form").serialize(),
                dataType: "json"
            }).done(function(data, textStatus, jq) {

            }).fail();
        })
    })
</script>
{% endblock %}

</body>
</html>

