{% extends "base.html" %} {% load staticfiles %} {% block title %}攻略{% endblock %} {% block style %}
<link rel="stylesheet" href="{% static " css/amazeui.swiper.min.css " %}">
<link rel="stylesheet" href="{% static " css/amazeui.datetimepicker.min.css " %}"> {% endblock %} {% block content %} {% include "./profile/siderbar.html" %}
<div class="am-u-md-9">
    <div class="box slider-show-root">
        <div class="box-head">轮播图管理</div>
        <div class="box-content">
            {% for s in slider %}
            <form method="post" enctype="mulipart/form-data"></form>
            {% csrf_token %}
            <div class="am-g slider-root">
                <div class="am-u-lg-7"><img src="{{ s.sliderImg.url }}" alt=""></div>
                <div class="am-u-lg-5 am-form-file">
                    <input type="text" value="{{ s.title }}">
                    <button type="button" class="am-btn am-btn-primary am-btn-sm">
                        <i class="am-icon-cloud-upload"></i>上传文件</button>
                    <input id="slider-file" type="file" multiple>
                </div>
                <button class="am-btn am-btn-danger am-radius">更新</button>
                <button class="am-btn am-btn-danger am-radius">删除</button>
            </div>
            </form>
            {% endfor %}
            <button class="am-btn am-btn-primary am-radius add-slider">添加新的幻灯片</button>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
<script>
  (function() {
    $('.add-slider').click(function() {
      var tmp = '<form action="/u/slmanage/add/" method="post" class="add-slider_form" enctype="multipart/form-data"><div class="am-g slider-root"><div class="am-u-lg-7"><img src="http://lorempixel.com/600/600/nature/2" alt=""></div><input type="text" name="title" placeholder="请输入幻灯片标题"><div class="am-u-lg-5 am-form-file"><button type="button" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-cloud-upload"></i>上传文件</button><input id="slider-file" type="file" name="sliderImg"></div><button class="am-btn am-btn-danger am-radius" type="submit">添加</button></div></form>';
      $(".slider-show-root .box-content").append(tmp)
      var csrf = $('input[name=csrfmiddlewaretoken').val()
      $(".add-slider_form").append('<input type="hidden" name="csrfmiddlewaretoken" value="' + csrf + '">')
    })
  })();
</script>
{% endblock %}