<div class="box-head">景点</div>
<div class="content">
    <div class="swiper-container" id="swiper-scenery">
        <div class="swiper-wrapper">
            {% for scenery_list in recentscenery %}
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)">
                <button class="am-btn am-btn-primary am-radius" onclick="window.location.href='/scenery/{{ scenery_list.id }}/'">{{ scenery_list.name }}
                </button>
            </div>
            {% endfor %}
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/3)">
                <button class="am-btn am-btn-primary am-radius" onclick="window.location.href='/scenery/'">点击查看更多活动
                </button>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-scrollbar" id="swiper-scrollbar-scenery"></div>
    </div>
</div>