<div class="box-head">攻略</div>
<div class="box-content am-g">
    <div class="am-u-md-8">
        <ul>
            <li>
                <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
            </li>
            <li>
                <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
            </li>
            <li>
                <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
            </li>
            <li>
                <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
            </li>
            <li>
                <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
            </li>
            <li>
                <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
            </li>
            <li>
                <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
            </li>
            <li>
                <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
            </li>
        </ul>
    </div>
    <div class="am-u-md-4">
        <button type="button" class="am-btn am-btn-primary am-radius">我要写攻略</button>
    </div>
</div>
