{% extends "base.html" %} {% load staticfiles %} {% block title %}活动{% endblock %} {% block style %}
<link rel="stylesheet" href="{% static "css/amazeui.swiper.min.css " %}">
<link rel="stylesheet" href="{% static "css/amazeui.datetimepicker.min.css " %}"> {% endblock %} {% block content %}
<div class="am-u-sm-12 am-u-md-9 ">
    {% include "./activity_info/activityinfo-showactivity.html" %}
    <div class="box activity-detail am-g">
        {% include "./activity_info/activityinfo-dicuss.html" %}
    </div>
    <div class="box am-g">
    	{% include "./activity_info/activityinfo-swiperscenery.html" %}
    </div>
</div>
{% include "./widget/siderbar.html" %} {% endblock %}
{% block script %}
<script>
	$(function() {
		$("#join-button").click(function() {
			console.log("clicked")
			$.ajax({
				type: "POST",
				url: "/activity/join/",
				data: $("#join-form").serialize(),
				dataType: "json"
			}).done(function(data, textStatus, jqXHR) {
				if (jqXHR.status == 200) {
                        if (data.status == 0) {
                        	alert("请不要重复加入");
                        } else if (data.status == 1) {
                            alert("成功加入");
                            var name = $(".am-topbar .am-topbar-collapse .am-topbar-right>ul>li>a").text()
                            $(".intro .people p").append("、<a href='xxx'>" + name +"</a>")
                        }
                    }
			}) .fail(function(jqXHR) {

			})
		})
	})
</script>
<script src="{% static "js/amazeui.swiper.min.js " %}"></script>
{% endblock %}
