{% extends "base.html" %} {% load staticfiles %} {% block title %}活动{% endblock %} {% block style %}
<link rel="stylesheet" href="{% static " css/amazeui.swiper.min.css " %}">
<link rel="stylesheet" href="{% static " css/amazeui.datetimepicker.min.css " %}"> {% endblock %} {% block content %}
<div class="am-u-sm-12 am-u-md-9 ">
    {% include "./activities/activities-main.html" %}
    {% include "./activities/activities-page.html" %}

</div>
{% include "./widget/siderbar.html" %} {% endblock %} {% block script %}
<script src="{% static " js/amazeui.datetimepicker.min.js " %}"></script>
<script src="{% static " js/amazeui.swiper.min.js " %}"></script>
{% endblock %}
