{% extends "base.html" %} {% load staticfiles %} {% block title %}活动{% endblock %} {% block style %}
<link rel="stylesheet" href="{% static " css/amazeui.swiper.min.css " %}">
<link rel="stylesheet" href="{% static " css/amazeui.datetimepicker.min.css " %}"> {% endblock %} {% block content %}
<div class="am-u-sm-12 am-u-md-9 ">
    {% for activity in activities.object_list %}
    <div class="box activity-list am-g">
        <img src="http://lorempixel.com/600/600/nature/1" alt="" class="am-u-md-4 am-img-responsive">
        <div class="intro am-u-md-6">
            <h2><a href="/activity/{{ activity.id }}">{{ activity.name }}</a></h2>
            <data><b>时间：</b>{{ activity.startDateTime }}-{{ activity.endDateTime }} (<data><b>发起时间：</b>{{ activity.launchedDateTime }}</data>)</data>
            <p><b>要去景点：</b>
            {% for scenery in activity.scenerys.all %}
                <span><a href="/scenery/{{ scenery.id }}">{{ scenery.name }}</a></span>
            {% endfor %}
            </p>
            <p><b>活动介绍：</b>{{ activity.introduction }}</p>
            <div class="people">
                <p><b>现参与人数：</b><a href="">rccoder</a>、<a href="">jiajia</a>、<a href="">lala</a></p>
            </div>
        </div>
        <div class="join-activity am-u-md-2">
            <button type="button" class="am-btn am-btn-primary am-radius">我要加入
            </button>
        </div>
    </div>
    {% endfor %}
    <div class="page-nav">
        <ul class="am-pagination">
            {% if activities.has_previous %}
                <li class="am-pagination-prev"><a href="/activity?page={{ activies.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for page_number in activities.paginator.page_range %}
                {% ifequal page_number  activities.number %}
                  <li class="am-active"><a href="/activity?page={{ page_number }}">{{ page_number }}</a></li>
                {% else %}
                    <li><a href="/activity?page={{ page_number }}">{{ page_number }}</a></li>
                {% endifequal %}
            {% endfor %}
            {% if activities.has_next %}
            <li class="am-pagination-next "><a href="/activity?page={{ activies.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% include "./widget/siderbar.html" %} {% endblock %} {% block script %}
<script src="{% static " js/amazeui.datetimepicker.min.js " %}"></script>
<script src="{% static " js/amazeui.swiper.min.js " %}"></script>
{% endblock %}
