{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="{% static "i/favicon.png" %}">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static "i/app-icon72x72@2x.png" %}">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="{% static "i/app-icon72x72@2x.png" %}">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{% static "i/app-icon72x72@2x.png" %}">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/amazeui.min.css" %}">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/app.min.css" %}">
</head>

<body>
    <header class="am-topbar am-topbar-fixed-top">
        <div class="am-container">
            <h1 class="am-topbar-brand"><a href="#">Traveler-Pal</a></h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
            <div class="am-collapse am-topbar-collapse" id="collapse-head">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class="am-active"><a href="#">首页</a></li>
                    <li><a href="#">活动</a></li>
                    <li><a href="#">景点</a></li>
                    <li><a href="#">攻略</a></li>
                </ul>
                {% if user.is_authenticated %}
                <div class="am-topbar-right">
                    <ul class="am-nav am-nav-pills am-topbar-nav">
                        <li class="am-dropdown" data-am-dropdown>
                            <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">rccoder
                            <span class="am-icon-caret-down"></span>
                        </a>
                            <ul class="am-dropdown-content">
                                <li class="am-dropdown-header">个人中心</li>
                                <li><a href="#">个人资料</a></li>
                                <li><a href="#">修改密码</a></li>
                                <li><a href="/logout">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="am-topbar-right">
                    <button type="button" class="am-btn am-btn-primary am-btn-secondary am-topbar-btn am-btn-sm" data-am-modal="{target: '#reg-model', closeViaDimmer: 0, width: 400, height: 400}"><span class="am-icon-pencil"></span> 注册
                     </button>
                </div>
                <div class="am-topbar-right">
                    <button type="button" class="am-btn am-btn-primary am-btn-secondary am-topbar-btn am-btn-sm" data-am-modal="{target: '#login-model', closeViaDimmer: 0, width: 400, height: 400}"><span class="am-icon-user"></span> 登录
                     </button>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="reg-model">
        <div class="am-modal-dialog reg-dialog">
            <div class="am-modal-hd">注册
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form action="" class="am-form" id="reg-form" onsubmit="return false">
                    {% csrf_token %}
                    <input type="text" id="reg-username" name="username" placeholder="请输入用户名" required>
                    <input type="password" id="reg-passowrd" name="password" placeholder="请输入密码" required>
                    <input type="password" id="reg-repassword" name="repassword" placeholder="请重新输入密码" required>
                    <input type="email" id="reg-email" name="email" placeholder="请输入你的邮件" required>
                    <div class="warning"></div>
                    <button type="submit" class="am-btn am-btn-primary am-radius" id="reg-submit">注册</button>
                </form>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="login-model">
        <div class="am-modal-dialog login-dialog">
            <div class="am-modal-hd">登录
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd">
                <form action="" class="am-form" id="login-form" onsubmit="return false">
                    {% csrf_token %}
                    <input type="text" id="login-username" name="username" placeholder="请输入用户名或者电子邮件地址" required>
                    <input type="password" id="login-passowrd" name="password" placeholder="请输入密码" required>
                    <div class="warning"></div>
                    <button type="submit" class="am-btn am-btn-primary am-radius" id="login-submit">注册</button>
                </form>
            </div>
        </div>
    </div>
    <div class="am-g am-container">
        {% block content %}{% endblock %}
    </div>
    <footer class="am-footer">
        <div class="am-footer-miscs ">
            <p>由 <a href="https://github.com/October-66/Traveler-Pal" title="October-66" target="_blank" class="">October-66</a> 提供技术支持
            </p>
        </div>
    </footer>
    <!--[if lte IE 8 ]>
	<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
	<![endif]-->
    <script src="{% static "js/amazeui.min.js" %}"></script>
    {% block script %}{% endblock %}
    <script type="text/javascript">
        $(function() {

            $reg_warning = $("#reg-form .warning");

            $("#reg-submit").click(function() {
                $reg_warning.html("");
                if($("#reg-passowrd").val() !== $("#reg-repassword").val()) {
                    $reg_warning.html("两次输入密码不一致")
                } else {
                    $.ajax({
                        type: "POST",
                        url: "./reg/",
                        data: $("#reg-form").serialize(),
                        dataType: "json"
                    }).done(function(data, textStatus, jqXHR) {
                        if (jqXHR.status == 200) {
                            if (data.status == -1) {
                                $reg_warning.html("该用户名已经被注册");
                            } else if (data.status == -2) {
                                $reg_warning.html("该邮箱已经被注册");
                            } else if (data.status == -3) {
                                $reg_warning.html("你好像不是一个人");
                            } else if(data.status == 1) {
                                $reg_warning.html("注册成功，即将为你跳转到你的个人中心");
                                location.href = "./u/" + $("#reg-username").val();
                            }
                        } else {
                            $reg_warning.html("未知名错误")
                        }
                    }).fail(function(jqXHR) {
                         $reg_warning.html("未知名错误,即将为你跳转到首页");
                         location.href = "./";
                    })
                }
            });

            $login_username = $("#login-username");
            $login_password = $("#login-passowrd");
            $login_warning = $("#login-form .warning");

            $("#login-submit").click(function() {
                $login_warning.html("")
                if ($login_username.val() == "" || $login_password.val() == "") {
                    $login_warning.html("你输入的用户名或者密码是空");
                } else {
                    $.ajax({
                    type: "POST",
                    url: "./login/",
                    data: $("#login-form").serialize(),
                    dataType: "json"
                }).done(function(data, textStatus, jqXHR) {
                    if (jqXHR.status == 200) {
                        if (data.status == 0) {
                            $login_warning.html("密码错误");
                        } else if (data.status == 1) {
                            $login_warning.html("登录成功");
                            location.href = "./";
                        }
                    }
                }).fail(function(jqXHR) {
                    $login_warning.html("未知名错误，即将为你跳转到首页");
                    location.href = "./";
                });
                }
            })
        })
</script>
    <script src="{% static "js/all.min.js" %}"></script>

</body>

</html>
