{% extends "base.html" %}
{% load staticfiles %}

{% block title %}首页{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static "css/amazeui.swiper.min.css" %}">
<link rel="stylesheet" href="{% static "css/amazeui.datetimepicker.min.css" %}">
{% endblock %}

{% block content %}
<div class="am-u-sm-12 am-u-md-9 ">
    <!-- Slider main container -->
    <div class="swiper-container box" id="swiper-show">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/2)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/3)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)"></div>
            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/5)"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="box activity">
        <div class="box-head">活动</div>
        <div class="box-content am-g">
            <div class="am-u-md-3">
                <button type="button" class="am-btn am-btn-primary am-radius" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height:500}">发起活动
                </button>
                <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
                    <div class="am-modal-dialog">
                        <div class="am-modal-hd">
                            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                        </div>
                        <div class="am-modal-bd">
                            <form  class="am-form" id="add-activity-form" onsubmit="return false">
                                <label for="activity-name">活动名称</label>
                                {% csrf_token %}
                                <input type="text" id="activity-name" placeholder="请输入活动名称" name="name" required>
                                <div class="scenery-n">
                                    <label for="activity-scenery">要去的景点</label>
                                    <input type="text" id="activity-scenery" placeholder="景点1" name="scenery">
                                </div>
                                <div class="add-one">
                                    +1
                                </div>
                                <label for="activity-startDateTime">开始时间</label>
                                <input type="text" value="2015-02-15" id="activity-startDateTime" class="am-form-field" name="startDateTime">
                                <label for="activity-endDateTime">结束时间</label>
                                <input type="text" value="2015-02-15" id="activity-endDateTime" class="am-form-field" name="endDateTime">
                                <label for="activity-introduction"></label>
                                <input type="text" placeholder="请输入活动介绍" id="activity-introduction" name="scenery">
                                <div class="warning"></div>
                                <button type="submit" class="am-btn am-btn-primary am-radius" id="submit-add-activity">发起
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-u-md-9">
                <div class="swiper-container" id="swiper-activity">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/2)">Slide 1</div>
                        <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)">Slide 2</div>
                        <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)">Slide 3</div>
                        <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)">Slide 4</div>
                        <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/5)">Slide 5</div>
                        <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/3)">Slide 6</div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box scenery">
        <div class="box-head">景点</div>
        <div class="content">
            <div class="swiper-container" id="swiper-scenery">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/2)">Slide 1</div>
                    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)">Slide 2</div>
                    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/5)">Slide 3</div>
                    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)">Slide 4</div>
                    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)">Slide 5</div>
                    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)">Slide 6</div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
    <div class="box journal">
        <div class="box-head">攻略</div>
        <div class="box-content am-g">
            <div class="am-u-md-8">
                <ul>
                    <li>
                        <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
                    </li>
                    <li>
                        <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
                    </li>
                    <li>
                        <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
                    </li>
                    <li>
                        <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
                    </li>
                    <li>
                        <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
                    </li>
                    <li>
                        <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
                    </li>
                    <li>
                        <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
                    </li>
                    <li>
                        <h5>
                                    <a href="#">南极洲之旅南极洲之旅南极洲之旅南极洲之旅</a>
                                    <data class="right">【10-16】</data>
                                </h5>
                    </li>
                </ul>
            </div>
            <div class="am-u-md-4">
                <button type="button" class="am-btn am-btn-primary am-radius">我要写攻略</button>
            </div>
        </div>
    </div>
</div>
{% include "./widget/siderbar.html" %}
{% endblock %}

{% block script %}
<script src="{% static "js/amazeui.datetimepicker.min.js" %}"></script>
<script>

//增加活动景点+1效果
$(".add-one").click(function() {
    $(".scenery-n").append('<input type="text" placeholder="请输入景点名称" name="scenery">');
    var tep = $(".activity .am-modal-dialog").height()+40+"px";
    $(".activity .am-modal-dialog").css("height", tep)
})

//增加活动日期格式化
$('#startDateTime').datetimepicker({
  format: 'yyyy-mm-dd'
});
$('#endDateTime').datetimepicker({
  format: 'yyyy-mm-dd',
  pickerPosition: 'top-right'
});

</script>

<script>
    $(function() {
        //增加活动AJAX提交
        $("#submit-add-activity").click(function() {
            $.ajax({
                type: "POST",
                url: "/activity/add/",
                data: $("#add-activity-form").serialize(),
                dataType: "json"
            }).done(function(data, textSatus, jqXHR){
                if(jqXHR.status == 200) {
                    if(data.status == 1) {
                        $("#add-activity-form .warning").html("添加成功，即将返回主页");
                        //location.href = "/";
                    } else {

                    }
                }
            }).fail(function(){
                $().html("非法操作，即将返回主页");
                location.href = "/";
            })
        })

        // 增加景点Ajax提交

        // 获得最新活动AJAX拉取

        // 获得热门景点AJAX拉取
    })
</script>
<script src="{% static "js/amazeui.swiper.min.js" %}"></script>

{% endblock %}
