<!DOCTYPE html>
{% load url from future %}
<html lang="zh">
<head>
    <meta charset="utf-8">
    {% block extra_head %}{% endblock %}
</head>

<body>
<div>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <p class="form-actions">
            <input type="submit" value="登录">
            <a href="/reset-password/"><input type="button" value="忘记密码"></a>
            <a href="/reg/"><input type="button" value="new user?"></a>
        </p>
    </form>
</div>

</body>
</html>