<script>
    $(function () {
        $("#save-profile").click(function() {
            $.ajax({
                type: "POST",
                url: "/u/update/",
                data: $("#post-profile-form").serialize(),
                dataType: "json",
            }).done(function(data, textStatus, jqXHR) {
                if(jqXHR.status == 200) {
                    if(data.status == 1) {
                        $(".warning").html('更新成功')
                    }
                }
            }).fail(function() {
                $(".warning").html('更新失败')
            });
        })
    })
</script>