<div class="am-u-md-9">
    <div class="box profile">
        <div class="box-head">个人资料</div>
        <div class="box-content">
            <form method="post" class="am-form am-form-horizontal admin-form" id="post-profile-form" onsubmit="return false">
                <div class="am-form-group">
                    <label for="username" class="am-u-sm-2 am-form-label">用户名</label>
                    <div class="am-u-sm-10">
                        {% csrf_token %}
                        <input type="text" id="username" placeholder="请输入你的用户名" value={{ user.username }} disabled>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="interest" class="am-u-sm-2 am-form-label">性别</label>
                    <div class="am-u-sm-10">
                        <input type="radio" name="genderChoices" value="M" {% if userInfo.gender == 'M' %} checked {% endif %}>男
                        <input type="radio" name="genderChoices" value="F" {% if userInfo.gender == 'F' %} checked {% endif %}>女
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="interest" class="am-u-sm-2 am-form-label">兴趣</label>
                    <div class="am-u-sm-10">
                        <input type="text" id="interest" name="interest" value={{ userInfo.interest }} placeholder="请输入你的兴趣">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-10 am-u-sm-offset-2">
                        <button type="submit" class="am-btn am-btn-default" id="save-profile">保存</button>
                        <div class="warning"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>