<div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)"></div>
    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/2)"></div>
    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/3)"></div>
    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)"></div>
    <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/5)"></div>
</div>
<!-- Add Pagination -->
<div class="swiper-pagination"></div>
