<script>
    window.onload = function() {
        $.ajax({
            type: "GET",
            url: "/siderbar/activity/",
            data: "",
            dataType: "json",
            success: function(msg) {

            }
        });

        $.ajax({
            type: "GET",
            url: "/siderbar/popular/activity/",
            data: "",
            dataType: "json",
            success: function(msg) {

            }
        })

        $.ajax({
            type: "GET",
            url: "/siderbar/popular/scenery/",
            data: "",
            dataType: "json",
            success: function(msg) {

            }
        })

        $.ajax({
            type: "GET",
            url: "/siderbar/strategy/",
            data: "",
            dataType: "json",
            success: function(msg) {

            }
        })
    }
</script>