<div class="am-u-sm-12 am-u-md-3 ">
    {% include "./widget/search.html" %}
    <div class="box new-activity">
        <div class="box-head">我的最近活动</div>
        <div class="box-content">
            <ul>
                <li><a href="">开开心心去冰城</a></li>
                <li><a href="">开开心心去冰城</a></li>
                <li><a href="">开开心心去冰城</a></li>
                <li><a href="">开开心心去冰城</a></li>
            </ul>
        </div>
    </div>
    <div class="box top-journal">
        <div class="box-head">热门攻略</div>
        <div class="box-content">
            <ol>
                <li><a href="">记南极洲的一次游玩</a></li>
                <li><a href="">记南极洲的一次游玩</a></li>
                <li><a href="">记南极洲的一次游玩</a></li>
                <li><a href="">记南极洲的一次游玩</a></li>
            </ol>
        </div>
    </div>
    <div class="box top-scenery">
        <div class="box-head">热门景点</div>
        <div class="box-content">
            <ol>
                <li><a href="">华山</a></li>
                <li><a href="">华山</a></li>
                <li><a href="">华山</a></li>
                <li><a href="">华山</a></li>
                <li><a href="">华山</a></li>
                <li><a href="">华山</a></li>
            </ol>
        </div>
    </div>
    <div class="box top-activity">
        <div class="box-head">热门活动</div>
        <div class="box-content">
            <ol>
                <li><a href="">去喜马拉雅山</a></li>
                <li><a href="">去喜马拉雅山</a></li>
                <li><a href="">去喜马拉雅山</a></li>
                <li><a href="">去喜马拉雅山</a></li>
                <li><a href="">去喜马拉雅山</a></li>
                <li><a href="">去喜马拉雅山</a></li>
                <li><a href="">去喜马拉雅山</a></li>
                <li><a href="">去喜马拉雅山</a></li>
            </ol>
        </div>
    </div>
</div>