{% load cut_images %}
{% for strategy in allStrategy.object_list %}
    <div class="box journal-list">
        <h3><a href="/strategy/{{ strategy.id }}">{{ strategy.title }}</a></h3>
        <img src="http://lorempixel.com/600/600/nature/2" alt="" class="am-img-responsive">
        <p>{{ strategy.content|cut_images|safe|truncatewords:"100" }}</p>

        "></p>
        <span><b>景点：</b><a href="/scenery/{{ strategy.scenerys.id }}">{{ strategy.scenerys.name }}</a></span>
        <span><b>时间：</b>{{ strategy.postDateTime }}</span>
    </div>
{% endfor %}