<div class="am-u-md-9">
    <div class="box profile">
        <div class="box-head">修改密码</div>
        <div class="box-content">
            <form method="post" class="am-form am-form-horizontal admin-form" id="reset-form" onsubmit="return false">
                <div class="am-form-group">
                    <label for="password" class="am-u-sm-2 am-form-label">原密码</label>
                    <div class="am-u-sm-10">
                        {% csrf_token %}
                        <input type="password" id="password" name="password" placeholder="pw" required>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="new-password" class="am-u-sm-2 am-form-label">新密码</label>
                    <div class="am-u-sm-10">
                        {% csrf_token %}
                        <input type="password" id="new-password" name="newpassword" placeholder="pw" required>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-10 am-u-sm-offset-2">
                        <button type="submit" class="am-btn am-btn-default" id="reset-password">保存</button>
                        <div class="warning"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>