body {
    background-color: #f7f7f7;
}

.right {
  float: right;
}
.am-container {
    max-width: 1360px;
}

#swiper-show {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #efefef;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }
}

.box {
    margin-top: 20px;
    border-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 2px #ccc;
    background-color: #fff;
    width: 100%;
    padding: 10px 40px;
    .box-head {
        border-bottom: 2px solid #f7f7f7;
        height: 50px;
        line-height: 50px;
    }
    .box-content {
        margin-left: -20px;
        color: #888;
        ul li,
        ol li {
            margin-top: 8px
        }
    }
}

.activity, .scenery, .journal {
    height: 300px;
    button {
        display: block;
        margin: 80px auto;
        width: 80%;
    }
}

#swiper-activity, #swiper-scenery {
    height: 200px;
    width: 100%;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: #efefef;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
}

.journal {
  ul {
    li {
      height: 20px;
      line-height: 20px;
      a {
        font-size: 0.96em;
        font-weight: normal;
        color: #888
      }
    }
  }
}

.activity-list {
    max-height: 300px;
    img {
        max-height: 300px;
        max-width: 300px;

    }
    .intro {
        font-size: 0.8em;
    }
    .join-activity {
        margin-top: 20px;
    }
}
.scenery-list {
    .intro {
        font-size: 0.8em;
    }
}
.journal-list {
    img {
        float: right;
        width: 200px
    }
    p {
        text-indent: 2em;
    }
}

.admin {
    .admin-nav {
        ul {
            li{
                list-style: none;
                padding: 10px 10px;
            }
        }
    }
    .admin-form {
        padding: 40px;
        img {
            border-radius: 100px;
            width: 100px;
        }
    }
}
.page-nav {
    margin: 20px;
}

.reg-dialog, .login-dialog {
    input {
        margin-top: 20px;
    }
    button {
        margin-top: 50px;
        float: right;
    }
}

#reg-form .warning {
    margin-top: 20px;
    float: left;
    color: #0e90d2;
    font-size: 16px;
}

#add-activity-form .warning {
    margin-top: 20px;
    float: left;
    color: #0e90d2;
    font-size: 16px;
}

#add-activity-form input {
    width: 90%;
    margin: 0 auto;
}

.add-one {
    float: right;
    margin-top:-30px;
    cursor:pointer;
}
.activity-detail .box-content .discuss {
    padding: 30px;
    overflow: hidden;
    img {
        float: left;
        margin-right: 20px;
    }
    .am-comment-main {
        margin-bottom: 20px
    }
}

.profile {
    .show, form {
        padding: 20px;
        di {
            margin-bottom: 20px;
        }
    }
}
.post-journal {
    margin: 0 auto;
    input {
        margin: 20px 0;
    }
}
.post-journal {
    .add-tag {
        margin-top: 26px;
        cursor: pointer;
    }
}

.scenery-auto {
    display: none;
    position: absolute;
    left: 30px;
    width: 340px;
    border: 1px solid #817fb2;
    background-color: white;
    ul {
        margin: 0;
        padding: 0;
        li.auto-li {
            margin: 0;
            padding: 0 10px;
            border-bottom: 1px solid #817fb2;
            text-align: left;
            list-style: none;
            cursor: pointer;
            &:hover {
                background-color:#C0C0C0;
            }
        }
    }
    span {
        text-align: left;
        cursor: pointer;
    }
}

.search form {
    margin-left: 20px;
}