#swiper-item {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #efefef;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
}
